<div class="d-flex flex-column col-11 col-lg-7 col-md-9 content m-auto">
  <div class="header d-flex justify-content-center">
    <h2 class="">Edit Tasks</h2>
    <button (click)="checkAll()" class="btn checkAll">
      Check All
    </button>
  </div>
  <div class="bullet-journal mt-5">
    <ul class="list-group list-group-light list-group-small">
      <li
        class="list-group-item d-flex justify-content-between align-items-center task"
        *ngFor="let todo of todos; let i = index"
        [ngStyle]="stylesMap[i]"
      >
        <span *ngIf="editingIndex !== i" class="flex-grow-1 desc">{{
          todo.desc
        }}</span>

        <input
          *ngIf="editingIndex === i"
          [(ngModel)]="editedTodo"
          class="flex-grow-1 me-5 p-2 m-0"
        />

        <div
          class="modify justify-content-between d-flex gap-3"
          *ngIf="editingIndex === i"
        >
          <button (click)="saveEdit()" class="btn btn-success">
            <i class="fa-regular fa-floppy-disk"></i>
          </button>
          <button (click)="cancelEdit()" class="btn btn-secondary">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>

        <div
          class="modify justify-content-between d-flex gap-3"
          *ngIf="editingIndex !== i"
        >
          <button
            class="btn delete"
            (click)="delete(i)"
            [style.visibility]="todo.status ? 'hidden' : 'visible'"
          >
            <i class="fa-regular fa-trash-can"></i>
          </button>
          <button class="btn edit" (click)="startEditing(i)">
            <i class="fa-regular fa-pen-to-square"></i>
          </button>
        </div>
        <input
          (click)="changeStatus(i)"
          mdbCheckbox
          class="form-check-input large-checkbox d-flex align-self-center ms-4"
          type="checkbox"
          value=""
          [checked]="todo.status"
        />
      </li>
    </ul>
    <div [style.display]="todos.length ? 'none' : 'block'">
      <img
        src="../../assets/imgs/notasks.png"
        alt="No Task Yet... :()"
        class="no-task-img"
      />
    </div>
  </div>
</div>
