.large-status {
  margin: 0;
  font-size: 1.591rem;
}

.addTestData {
  background-color: rgb(151, 241, 178);
}

.clearAllData {
  background-color: rgb(255, 165, 165);
}

.addTestData:hover {
  background-color: rgb(71, 224, 117);
}

.clearAllData:hover {
  background-color: rgb(241, 71, 71);
}

.task:hover {
  cursor: pointer;
  transform: scale(1.05);
}
