<div class="d-flex flex-column col-11 col-lg-7 col-md-9 content m-auto">
  <div class="header">
    <h2>Your To-Dos</h2>
  </div>
  <div class="buttons d-flex gap-4 mt-5">
    <button class="btn addTestData" (click)="addTestData()">
      ➕ Add Test Data
    </button>
    <button class="btn clearAllData" (click)="clearTestData()">
      ➖ Clear All Data
    </button>
  </div>
  <div class="bullet-journal mt-5">
    <ul class="list-group list-group-light list-group-small">
      <li
        *ngFor="let todo of todos; let i = index"
        [ngStyle]="stylesMap[i]"
        class="list-group-item d-flex justify-content-between align-items-center task"
        (click)="goToEditPage(i)"
      >
      <div [class]="stylesMap[i]?.font">
        {{ todo.desc }}
        </div>
        <div class="large-status">
          {{ todo.status ? "✅" : "❌" }}
        </div>
      </li>
      <div [style.display]="todos.length ? 'none' : 'block'">
        <img
          src="../../assets/imgs/notasks.png"
          alt="No Task Yet... :()"
          class="no-task-img"
        />
      </div>
    </ul>
  </div>
</div>
