h2 {
  text-align: center;
}

.large-status {
  margin: 0;
  font-size: 1.591rem;
}

.bullet-journal {
  background-color: #fdf6e3;
  background-image: radial-gradient(#888 1px, transparent 1px);
  background-size: 25px 25px;
  border-radius: 10px;
  padding: 4rem 1rem;
  box-shadow: rgb(175, 157, 124) 0px 3px 8px;
}

.task {
  padding: 15px;
  border: unset;
  margin: 1% 7%;
  box-shadow: #c2b183 0px 3px 8px;
}

.task:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.no-task-img {
  display: block;
  max-width: 550px;
  width: 100%;
  margin: 3rem auto;
}

.content {
  margin: 1rem;
}

.addTestData{
background-color: rgb(151, 241, 178);
}

.clearAllData{
  background-color: rgb(255, 165, 165);
}

.addTestData:hover{
  background-color: rgb(71, 224, 117);
}

.clearAllData:hover{
  background-color: rgb(241, 71, 71);
}