<main class="main">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <button ngbNavLink>Home</button>
      <ng-template ngbNavContent>
        <ng-container *ngComponentOutlet="components[0]"></ng-container>
      </ng-template>
    </li>
    <li ngbNavItem>
      <button ngbNavLink>Add a To-Do</button>
      <ng-template ngbNavContent>
        <ng-container *ngComponentOutlet="components[1]"></ng-container>
      </ng-template>
    </li>
    <li ngbNavItem>
      <button ngbNavLink>Edit To-Do</button>
      <ng-template ngbNavContent>
        <ng-container *ngComponentOutlet="components[2]"></ng-container>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</main>

<router-outlet />
