h2 {
  text-align: center;
}
.content {
  max-width: 600px;
}

form {
  border: 1px solid rgb(140, 140, 140);
  padding: 5rem;
}

.submitAlert {
  min-height: 50px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.submitAlert.show {
  visibility: visible;
  opacity: 1;
}

.addNewTaskForm {
  background-color: rgb(255, 241, 216);
  border: unset;
  box-shadow: rgb(175, 157, 124) 0px 3px 8px;
}

.addTask{
  background-color: rgb(151, 241, 178);
}

.addTask:hover{
  background-color: rgb(71, 224, 117);
} 


.header {
  background-color: rgb(255, 215, 147);
  margin-top: 2rem;
  padding: 0 0 3rem 0;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: rgb(175, 157, 124) 0px 3px 8px;
}