* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

.font-one {
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
}

.font-two {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
}

.font-three {
  font-family: cursive;
}

.sans {
  font-family: sans-serif;
}

.header {
  position: relative;
  background-color: rgb(255, 215, 147);
  margin-top: 2rem;
  padding: 0 0 3rem 0;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: rgb(175, 157, 124) 0px 3px 8px;
}

h2 {
  text-align: center;
}

.content {
  margin: 1rem;
  max-width: 1000px;
}

.bullet-journal {
  background-color: #fdf6e3;
  background-image: radial-gradient(#888 1px, transparent 1px);
  background-size: 25px 25px;
  border-radius: 10px;
  padding: 4rem 1rem;
  box-shadow: rgb(175, 157, 124) 0px 3px 8px;
}

.no-task-img {
  display: block;
  max-width: 550px;
  width: 100%;
  margin: 3rem auto;
}

.task {
  padding: 15px;
  border: none;
  margin: 1% 7%;
  box-shadow: #c2b183 0px 3px 8px;
}

@media screen and (max-width: 768px) {
  .task {
    margin: 1% 5%;
  }

  .bullet-journal {
    padding: 1rem 0;
  }
}
