<div class="d-flex flex-column col-10 col-lg-6 content m-auto">
  <h2 class="mt-5 mb-5">Your ToDos</h2>

  <div class="buttons d-flex justify-content-between">
    <button class="btn btn-outline-success" (click)="addTestData()">
      ➕ Add Test Data
    </button>
    <button class="btn btn-outline-danger" (click)="clearTestData()">
      ➖ Clear All Data
    </button>
  </div>

  <div class="bullet-journal mt-5">
    <ul class="list-group list-group-light list-group-small">
      <li
        *ngFor="let todo of todos; let i = index"
        [ngStyle]="stylesMap[i]"
        class="list-group-item d-flex justify-content-between align-items-center task"
        (click)="goToEditPage(i)"
      >
        <div>
          {{ todo.desc }}
        </div>
        <div class="large-status">
          {{ todo.status ? "✅" : "❌" }}
        </div>
      </li>
      <div [style.display]="todos.length ? 'none' : 'block'">
        <img
          src="../../assets/imgs/noTask.png"
          alt="No Task Yet... :()"
          class="no-task-img"
        />
      </div>
    </ul>
  </div>
</div>
