<div class="container w-50 m-auto content">
  <h2 class="mt-5 mb-5">Edit Tasks</h2>
  <button (click)="checkAll()" class="btn btn-outline-primary">
    Check All
  </button>
  <ul class="list-group list-group-light list-group-small mt-5">
    <li
      class="list-group-item d-flex align-items-center p-3"
      *ngFor="let todo of todos; let i = index"
    >
      <span *ngIf="editingIndex !== i" class="flex-grow-1">{{
        todo.desc
      }}</span>

      <input
        *ngIf="editingIndex === i"
        [(ngModel)]="editedTodo"
        class="flex-grow-1 me-5 p-2 m-0"
      />

      <div
        class="modify justify-content-between d-flex gap-3"
        *ngIf="editingIndex === i"
      >
        <button (click)="saveEdit()" class="btn btn-outline-success">
          Save
        </button>
        <button (click)="cancelEdit()" class="btn btn-outline-secondary">
          Cancel
        </button>
      </div>

      <div
        class="modify justify-content-between d-flex gap-3"
        *ngIf="editingIndex !== i"
      >
        <button
          class="btn btn-outline-danger"
          (click)="delete(i)"
          [style.visibility]="todo.status ? 'hidden' : 'visible'"
        >
          Delete
        </button>
        <button class="btn btn-outline-primary" (click)="startEditing(i)">
          Edit
        </button>
      </div>
      <input
        (click)="changeStatus(i)"
        mdbCheckbox
        class="form-check-input large-checkbox d-flex align-self-center ms-4"
        type="checkbox"
        value=""
        [checked]="todo.status"
      />
    </li>
  </ul>
</div>
